<div class="post">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<%= link_to 'Bearbeiten', edit_menu_path(@menu) %> |
<%= link_to 'Zurück', menus_path %>
</div>