<div class="post">
<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @shopping_cart_entry.amount %>
</p>

<%= link_to 'Bearbeiten', edit_shopping_cart_entry_path(@shopping_cart_entry) %> |
<%= link_to 'Zurück', shopping_cart_entries_path %>
</div>