<h1>Impressum</h1>
<br/><br/>

<div class="post">
    <p>
        Torben Haug, Andreas Berks<br />
        HAW Hamburg<br />
        Berliner Tor 5<br />
        20099 Hamburg
    </p>
    
    <%= viewtag_seperator %>
    
    <p>
        <table style="margin-left: -3px;"><tr><td><strong>E-Mail: </strong></td><td><a href="mailto:claustorben.haug@haw-hamburg.de">claustorben.haug@haw-hamburg.de</a></td></tr>
        <tr><td></td><td><a href="mailto:andreas.berks@haw-hamburg.de">andreas.berks@haw-hamburg.de</a></td></tr></table>
    </p>
    
    <%= viewtag_seperator %>
    
    <p><strong>Bildrechte:</strong>
        <ul>
            <li>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a><br/><br/></li>
            <li>
                Zusätzliche Quellen:
                <ul>
                    <li><a href="http://www.traffika.com.au/wp-content/uploads/2014/04/keyboard.jpeg">http://www.traffika.com.au/wp-content/uploads/2014/04/keyboard.jpeg</a></li>
                </ul>
            </li>
        </ul>
    </p>
    
    <%= viewtag_seperator %>
    
    <p>
        <a href="disclaimer"><strong>Disclaimer</strong></a><br/><br/>
        <a href="privacy_policy"><strong>Datenschutzerklärung</strong></a><br/>
    </p>
</div>