<% @output = []; def puts(line); @output.push(line.to_s + "<br/>"); end; def print(line); @output.push(line.to_s); end %>
<h1>Test area of MrTorgue</h1><br/><br/><div class="post">

<!-- TEST CODE BEGINNING -->
<%

%>
<!-- TEST CODE END -->



<!-- GENERATE OUTPUT -->
<% @output.each{|line| %> <%= line.html_safe %> <% } %></div>
