<footer class="footer">
    <small>
        The Webshop of <%= mail_to "ClausTorben.Haug@HAW-Hamburg.de", "Torben Haug" %>
        and <%= mail_to "Andreas.Berks@HAW-Hamburg.de", "Andreas Berks" %>
    </small>
    <nav>
        <ul>
            <%= link_to "Impressum",   '#' %>
        </ul>
    </nav>
</footer>
