<div class="post">
<h1>Listing article_to_tags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_to_tags.each do |article_to_tag| %>
      <tr>
        <td><%= link_to 'Anzeigen', article_to_tag %></td>
        <td><%= link_to 'Bearbeiten', edit_article_to_tag_path(article_to_tag) %></td>
        <td><%= link_to 'Löschen', article_to_tag, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article to tag', new_article_to_tag_path %>
</div>